@import "nord.css";

html, body {
  background-color: var(--nord0);
  color: var(--nord6);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1 {
  color: var(--nord7);
}

a {
  color: var(--nord7);
  text-decoration: none;
}

footer {
  color: var(--nord3);
  grid-area: footer;
}

footer a {
  color: var(--nord7);
  text-align: center;
}

text {
  grid-area: main;
}

.container {
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  align-content: space-between;
  grid-template-areas: 
    "header header header"
    ". main ."
    ". footer .";
}